<head>
<meta charset="utf-8" />
<meta name="author" content="{{ .Site.Author.name }}" />
<meta name="description" content="{{ .Site.Params.meta.description }}" />
<meta name="keywords" content="{{ .Site.Params.meta.keywords }}" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<link rel="canonical" href="{{ .Permalink }}">
<base href="{{ .Site.BaseURL }}" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/schema.html" . }}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous"> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js" integrity="sha384-U8Vrjwb8fuHMt6ewaCy8uqeUXv4oitYACKdB0VziCerzt011iQ/0TqlSlv8MReCm" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js" integrity="sha384-aGfk5kvhIq5x1x5YdvCp4upKZYnA8ckafviDpmWEKp4afOZEqOli7gqSnh8I6enH" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="css/layout.css" />
<style type="text/css">
{{ partial "theme-colors.css" . | safeCSS }}
</style>


<title>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "/" }}
    {{ .Site.Title }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
{{ end }}
</title>

</head>
